version: '3.8'

services:
  postgres:
    container_name: postgres-db
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${PG_LOCAL_PORT}:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    container_name: mongodb-container
    image: mongo:6-jammy
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./mongodbdata:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | "mongodb+srv://elyorbekbakhtiyarov5_db_user:ddMu9qcOmx9mUMzr@cluster0.ygiq2vg.mongodb.net/?appName=Cluster0"
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: nest-docker
    build:
      context: ./
    depends_on:
      postgres:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "${API_LOCAL_PORT}:${API_PORT}"
    environment:
      API_PORT: ${API_PORT}
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: postgres
      PG_PORT: 5432
      MONGO_URI: "mongodb+srv://elyorbekbakhtiyarov5_db_user:ddMu9qcOmx9mUMzr@cluster0.ygiq2vg.mongodb.net/?appName=Cluster0"
